*{
  box-sizing: border-box;
  
}
html{
  border: 20px solid #495371;
  height: 120vh;
}
body{
  background-color: #F1E0AC;
}

.navbar{
  display:flex;
  background-color: #98b4aa;
}

nav li{
  list-style-type: none;
  padding: 20px; 
}

li a{
  text-decoration: none;
}

.large-font{
  font-size: xx-large;
}

.solo-image{
  width: 49%;
}

